Sol 1 Among the mentioned ones 'hello' ,-87.2 and 6 are values whereas *,-,/,+ are expressions

Sol 2 Variable is a container ,temporary storage location used to hold any value . the variable can be modified at any point of       time 
    
      String is a type of iterable datatype which is stored in a variable to be retreived at any point of time.A string is  
      generally group of characters (integers or float also be converted into string by type casting) .It is usally enclosed 
      with '' or "" 
      Eg x='Assign1' here x is variable Assign1 is string

Sol 3 Data types refers to the kind of value which decides the type of operations that can be performed on them Some of the           popular data types are 
      
      1. Numeric : Numeric data types supports most of the operator expressions  basic arthemic expressions such as 
                   addition,subtraction ,multipication and division as well as %(modulus) ,//(Floor division) based on further 
                   classification as Floats , integer , complex numbers represented as int , float and complex in python 
      2. Sequence : collection odf similar or different datatypes.It allows efficient storage/collection of different 
                    values in an organised way . They are classified as string,list,tuples represented as str,list,tuple in  
                    python. 
      3. Boolean : Built in data type corresponding to 0 and 1 of binary data type where 0 represents False while 1 represents 
                   True generally used for if and while statement execution and eare encountred as a result of comparision
                   operators such as ==,!=,>,<,>=,<=

Sol 4 An experations is a combination of operators and operands that is intended to produce some value after execution 
      So an expression is made of operators(arithmetic,relational,logical etc) and operands upon which operations are performed 
      
      Eg 7+(8*3) here +,(,*,) are operators while 7,8,3 are operands 
      
      Note: in case where multiple operators in same expression than BODMAS precedence rule is applied
      
      Any expression always produce a value provided correctly defined and type of value depends on type of operands

Sol 5 In Python we can use expression as statement but it is not adviced as the result is not stored in to value 
      Eg x=7+5 is statement while 7+5 is expression both the these values will give 12 for expression it will be directly shown 
      in console while for statement we need to print x 
      But converse is not true statement cannot be used as expression 
      A common example 
      ls=[1 2 3]
      ls.append(4)
      give ls =[1 2 3 4]
      whereas if we write ls=ls.append(4) will mess up the final and will give print(ls) as None

Sol 6 bacon=22 bacon+1 
      This will return 23

Sol 7 both will give 'spamspamspam'

Sol 8 There are some rules that need to  be followed while naming variables like variabke name cannot be reserved keywords like 
       continue break while if or should not be start with numbers 
       eggs doesnot violate any rule of naming variable but 100 does so we can use _100 as variable but not 100

Sol 9 type casting function 
      The function 
      float(x) , int(x) , str(x) are the function which gives float integer and string value of variable x 
      
      Please note this type of operation is not possible for all data type like 'abcd' will not support int('abccd') or 
      float('abcd')

In [13]:
# Sol 9
x=6
print(float(x))
print(int(x))
b=str(x)
type(b)

6.0
6

str

Sol10 This expression causes error because 99 is int datatype and doesnot support Concatenation with string thus produce type 
      error to fix it wee need to write str(99) in expression

In [16]:
#Sol 10
'I have eaten '+99+' burritos'

TypeError: can only concatenate str (not "int") to str

In [17]:
# Sol 10
'I have eaten '+str(99)+' burritos'

'I have eaten 99 burritos'