In [1]:
##Sol 1
test1='This is a test of the emergency text system,'
print(test1)
with open('test.txt','w') as f:
    f.write(test1)

This is a test of the emergency text system,

In [2]:
##Sol 2
with open('test.txt','r') as file:
    test2=file.read()
    
print(test2)
print(test1==test2)

This is a test of the emergency text system,
True

In [3]:
##Sol 3
data='''
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
'''

with open('books.csv','w') as f:
    f.write(data)

In [6]:
##Sol 4
import sqlite3
db = sqlite3.connect('books.db')
cursor = db.cursor()
cursor.execute("CREATE TABLE books (title text, author text, year int)")
db.commit()
db.close()

In [7]:
##Sol 5
import csv
conn = sqlite3.connect("books.db")
cursor = conn.cursor()
with open("books.csv","r") as file:
    x = csv.reader(file)
    for book in x:
        cursor.executemany("INSERT INTO books VALUES (?,?,?)",x)
conn.commit()
conn.close()

In [8]:
##Sol 6
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
output = cursor.execute("SELECT title FROM books ORDER BY title ASC")
for ele in output:
    print(ele[0])
conn.commit()
conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!
title

In [9]:
##Sol 7
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
ouput = cursor.execute("SELECT * FROM books ORDER BY year")
for record in ouput:
    print(record)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('title', 'author', 'year')

In [10]:
##Sol 8
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
conn

Engine(sqlite:///books.db)

In [ ]:
! pip install sqlalchemy

In [ ]:
! python -m pip install redis

In [ ]:
##Sol 9
import redis
conn = redis.Redis()
conn.hset('test',{
    'count':1,
    'name':'Fester Bestertester'
})
conn.hgetall('test')

In [ ]:
##Sol 10
conn.hincrby('test', 'count', 1)
conn.hget('test', 'count')