In [1]:
## Sol 1
L1=[3,'go',36.0,True,[7,3,'st']]
sum=0
for i in L1:
    if type(i) in [int,float]:
        sum=sum + i
    elif type(i) in [list,tuple]:
        for j in i:
            if type(j) in [int,float]:
                sum=sum+j
    else:
        sum=sum

print(sum)

49.0

In [3]:
## Sol 2
L1=[3,'go',36.0,True,[7,3,'st']]
mul=1
for i in L1:
    if type(i) in [int,float]:
        mul=mul*i
    elif type(i) in [list,tuple]:
        for j in i:
            if type(j) in [int,float]:
              mul=mul*j
    else:
        mul=mul

print(mul)

2268.0

In [8]:
## Sol 3
try:
    l=[53,22.0,62,11,45,17,21]
    l.sort()
    print('the smallest elememt in list',l[0])
    
except Exception as e:
    print('Error',e)

the smallest elememt in list 11

In [9]:
## Sol 4
try:
    l=[53,22.0,62,11,45,17,21]
    l.sort()
    print('the largest elememt in list',l[-1])
    
except Exception as e:
    print('Error',e)

the largest elememt in list 62

In [10]:
## Sol 5
try:
    l=[53,22.0,62,11,45,17,21]
    l.sort()
    print('the second largest elememt in list',l[-2])
    
except Exception as e:
    print('Error',e)

the second largest elememt in list 53

In [13]:
## Sol 6
def nthlargest(n):
    l.sort()
    print("{}th largest number is {}".format(n, l[-n]))
    
nthlargest(4)

4th largest number is 22.0

In [14]:
## Sol 7
leven=[]
for i in l:
    if i%2==0:
        leven.append(i)
        
leven

[22.0, 62]

In [15]:
## Sol 8
lodd=[]
for i in l:
    if i%2!=0:
        lodd.append(i)
        
lodd

[11, 17, 21, 45, 53]

In [16]:
## Sol 9
l1=[[],'str',65,True]
for i in l1:
    if i==[]:
        l1.remove(i)
        
l1

['str', 65, True]

In [17]:
## Sol 10
def cloning(l):
    copy = []
    for i in l:
        copy.append(i)
    print("original list : {}\nCloned List: {}".format(l,copy))

In [19]:
## Sol 11
l2=[7,65,'str','go',7,24,62,11,22,7]
element=7
count=0
for i in l2:
    if i==element:
        count+=1
        
print('no of occurences of {} is {}'.format(element,count))

no of occurences of 7 is 3