## Sol 1

SELECT * FROM Worker Where MOD(worker_id,2) = 1

## Sol 2

First create an identical table same as existing table letsay cloneworker

then we will make clone of that using following command 

INSERT INTO CloneWorker SELECT * FROM Worker;