## Sol 1

SELECT * FROM (SELECT ROW_NUMBER() OVER (ORDER BY salary DESC) AS R_NUM, first_name, salary FROM employee) as KEY WHERE R_NUM=5;

## Sol 2

SELECT * FROM employee ORDER BY salary ASC;