## Sol 1
SELECT REPLACE(FIRST_NAME,'a','A') FROM Worker;

## Sol 2

SELECT * FROM Worker ORDER BY FIRST_NAME ASC,DEPARTMENT DESC;

## Sol 3

SELECT FIRST_NAME, LAST_NAME FROM Worker WHERE SALARY = (SELECT MAX(SALARY) FROM Worker);